# hidden files
.*
!.gitignore

# History files
.Rhistory
.Rapp.history

# Session Data files
*.RData
*.rds
*.RDS
*.dictionary.html

# tag files
tags

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rprofile
.Rproj.user
.Rproj.user/
.Ruserdata

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# System files
*.DS_Store

# vim files
*~

# python
venv/
*.egg-info/*
__pycache__

# Results
20200630_zipped_results.zip
20210311_zipped_results.zip
_archived
*.zip
*.sample
SNP/CAC_CredSet/*
SNP/CAC_overallplaque/*
SNP/CAC_CredSet_PVI/*
SNP/CAC_PVI/*

# Temp files
_gsdata_/
~
\~$*

# Data
*.sav
*.sas7bdat
*.log

20200617_IndSigSNPsforSander.xlsx
20200912_CandidateSNPsforSander.xlsx
20201127_GeneList_15042020.xlsx
20210127_Overview_Genes_MMBos_Sander.xlsx

# PolarMorphism
PolarMorphism/eur_w_ld_chr*
PolarMorphism/proxySearch_CAC_CAD*



